
.funnel-chart ,
.funnel-chart > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.funnel-chart {
  position: relative;
}
.funnel-chart > li {
  height: 60px;
  text-align: center;
}

.funnel-chart:before ,
.funnel-chart:after {
  position: absolute;
  content: " ";
  border-width: 300px 100px 0;
  border-style: solid;
  border-color: transparent;
  display: block;
  line-height: 0;
  width: 0;
  height: 0;
  line-height: 0;
}
.funnel-chart:before {
  top: 0;
  left: 0;
  border-left-color: #fff;
}
.funnel-chart:after {
  top: 0;
  right: 0;
  border-right-color: #fff;
}

.funnel-chart > li:first-child {
  background-color: #1398db;
  color: #fff;
}
.funnel-chart > li:nth-child(2) {
  background-color: #19b1d8;
  color: #fff;
}
.funnel-chart > li:nth-child(3) {
  background-color: #12dba5; /* #40eabd */
  color: #fff;
}
.funnel-chart > li:nth-child(4) {
  background-color: #93ca0d;
  color: #fff;
}
.funnel-chart > li:nth-child(5) {
  background-color: #ff9a09; /* #a9db2a */
  color: #fff;
}

.funnel-chart > li.column-2 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.funnel-chart > li.column-2 > div.left ,
.funnel-chart > li.column-2 > div.right {
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}
.funnel-chart > li.column-2 > div.left {
  background-color: #12dba5; /* #40eabd */
  text-align: right;
  padding-right: 10px;
}
.funnel-chart > li.column-2 > div.right {
  background-color: #40eabd;
  text-align: left;
  padding-left: 10px;
}

.funnel-chart > li > div {
  line-height: 60px;
}
